<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .layui-table th{
        font-size:16px;
        text-align: center;
      }
      .layui-table td{
        font-size:16px;
        text-align: center;
      }
      #ipt{
        height:40px;
        width:450px;
        font-size:16px;}</style>
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">权限管理</a>
        <a>
          <cite>管理员</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
          <input type="text" id="ipt" onkeyup="serch()"   placeholder="请输入用户名" autocomplete="off" class="layui-input">
      </div>
      <xblock>

        <button class="layui-btn" onclick="x_admin_show('添加用户','./admin-add.html')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>

      <table class="layui-hide" id="myTab"></table>
      <div id="fenye"></div>

    </div>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./lib/layui/layui.all.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script>
        var table = layui.table; //定义全局变量  方便使用layui的表格
        var laypage = layui.laypage, layer = layui.layer; //定义全局变量  方便使用layui的分页条
        /*页面加载时查询数据  并且分页*/
        $(function() {
            fenye("",1,10);  //调用layui表格
            tool();          // 使用分页
        });
        var num=0;
        /*layui表格    传入三个参数
        keyWord 模糊查询关键字
        pagenum 当前页
        limit   每页显示的条数
        */
        function fenye(keyWord,pagenum,limit) {
            table.render({
                id : 'myTab', //table的id
                elem : '#myTab',   //同上
                //height : 700,  //表格的高度
                url : '/permission/getAllAdmin?pageNum=' + pagenum + '&limit='+limit+'&keyWord='+keyWord+'',
                cols : [ [
                    /*表头
                      checkbox：true  开启复选框
                      field : 你的列名
                      title : 你的标题  也就是 <th>
                      sort  : true   开启排序
                      edit: 'text'开启单元格编辑*/

                    {field : 'uid',title : '管理员编号',sort : true,},
                    {field : 'user_name',title : '管理员姓名',sort : true,edit: 'text'},
                    {field : 'user_code',title : '管理员账号',sort : true,edit: 'text'},
                    {field : 'bz',title : '职位',sort : true},
                    {field : 'remarks',title : '备注',sort : true,},
                ] ],
                //回调函数 在表格渲染完成后 执行 用num判断  让它只在页面加载时执行一次   点击上一页下一页不执行
                done : function(res) {
                    if(num==0){
                        tool($("#ipt").val(),res.count);  //调用tool()函数   启用分页条  并传总数据数  res.count
                        num+=1;
                    }
                }
            });
        }
        /*渲染分页工具条
          同样传入两个参数   关键字   总数据
        */
        function tool(keyWord,count) {
            laypage.render({
                elem : 'fenye',//分页条的作用域   页面中di'v的id
                count : count,  //总数据数
                limit:10,      //每页显示的条数
                layout : [ 'prev', 'page', 'next','limit','skip' ],
                jump : function(obj, first) {
                    /*判断如果不是第一页执行里面的方法*/
                    if (!first) {
                        /*重新调用分页方法*/
                        fenye($("#ipt").val(),obj.curr,obj.limit);
                    }
                }
            });
        }
        //绑定input enter事件  在input输入完成   按下回车  调用
        function serch(){                //网页内按下回车触发
            if(event.keyCode==13)
            {
                $.ajax({
                    url:"/permission/getAllAdmin",
                    data:{
                        pageNum: 1,
                        limit: 15,
                        keyWord: $("#ipt").val()
                    },
                    success:function (data) {
                        fenye($("#ipt").val(), 1, 15)
                        tool($("#ipt").val(),data.count);
                    }
                })

            }
        }
    </script>
  </body>

</html>