<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreambook.mapper.PermissionMapper">
    <!-- 查询所有管理员信息 -->
    <select id="getAllAdmin" resultType="java.util.Map" parameterType="String">
        select * from auth_user
        <where>
            <if test="keyWord!='' and keyWord!=null">
                user_name like '%${keyWord}%' or user_code like '%${keyWord}%'
            </if>
        </where>
    </select>
</mapper>